@font-face {
    font-family: "Pupilice";
    src: url("../../../fonts/CalSans-Regular.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Pupilice;
    background-image: url("images/9b859812-8030-46c7-8a05-3b90cc6bb519.png");
    background-size: 20vw;
    background-repeat:repeat;
}

ul {
    list-style:none;
}

nav {
    background:white;
    margin-bottom:20px;
    width:100%;
    position:sticky;
    left:0;
    top:0;
}

nav ul {
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
color: black;
text-decoration: none;}

.layout {
    display: flex;
    gap:20px;
    justify-content: center;
    padding:10px;
}

.illustrations {
    flex:0 1 300px;
    min-width:200px;
    display:flex;
    flex-direction: column;
}

.illustrations img {
    width:100%;
    object-fit: contain;
}

.description {
    max-width: 500px;
}

.description > * {
    margin-bottom: 20px;
}

@media screen and (width<800px) {
    .illustrations {
        float:left;
    }
}