@font-face {
    font-family: "Pupilice";
    src: url("../../fonts/CalSans-Regular.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow-x:hidden;
    overflow-y:hidden;
    height:100vh;
    font-family: Pupilice;
}

.page {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 8vh;

    margin: 0;
    padding: 10px 20px;

    list-style: none;

    background: rgba(0,0,0,0);
}

.top-nav li a {
color: black;
text-decoration: none;}

.mosaic {
    flex:1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.realisation-gallery{
    height:46vh;
    display:flex;
    gap:40px;
    padding:40px;
    align-items:center;
    width:infinite;
    background-color:blue;
} 

.atelier-gallery{
    height:46vh;
    display:flex;
    gap:40px;
    padding:40px;
    align-items:center;
    width:infinite;
    background-color:rgba(229, 255, 0, 0.993);
} 

.row-title{
    font-size: 22px;
    transform: rotate(270deg);
    width: 40px;
}

.card {
    background: white;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
    text-align: center;
    /* transition: transform 0.2s; */
}

.card a {
color: black;
text-decoration: none;}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
    font-size: 18px;
}

.description {
    width:300px;
}
