@font-face {
    font-family: "Pupilice";
    src: url("../../../fonts/CalSans-Regular.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Pupilice;
    font-size: 18px;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 8vh;

    margin: 0;
    padding: 10px 20px;

    list-style: none;

    background: rgba(0,0,0,0);
    margin-bottom: 20px;
}

.top-nav li a {
color: black;
text-decoration: none;}

.description-illustration > * {
    min-width: 0;
    min-height: 0;
}

.layout {
    height: 85vh;
    /* width: 90vw; */
    display:flex;
    gap:20px;
    padding:30px;
}

.affiche {
    display: inline-flex;
    flex-direction:column;
    justify-content: center;
    object-fit: scale-down;
    font-size:16px;
    width:fit-content;
    height:100%;
    text-align: center;
}

.affiche img {
    height: 100%;
    /* width: auto; */
    object-fit: scale-down;
    /* display: block; */
}

.description-illustration {
    display:grid;
    height:100%;
    width:500px;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.description {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    font-size:14px;
    height:100%;
}

.description p {
    margin-bottom: 1em;
}

.illustration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow:hidden;
}
